<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%HOME%\Python39\python.exe"
                  arguments="%HOME%\site\wwwroot\startup.sh"
                  requestTimeout="00:10:00"
                  startupTimeLimit="300"
                  stdoutLogEnabled="true"
                  stdoutLogFile="%HOME%\LogFiles\python.log">
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="%HOME%\site\wwwroot" />
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>